<div class="work-wrapper" :class="{ active : active_el == 3 }">
  <div class="work-panel" :class="{ normal : active_el }">
    <svg class="close" @click="close">
      <use xlink:href="{{site.baseurl}}/assets/img/sprite.svg#icon-x-circle"></use>
    </svg>
    <div class="work-panel--content">
      <h5>About:</h5>
      <img src="{{site.baseurl}}/assets/img/logos/rrlab.png" alt="RRLAB">
      <p>Spines is an application that helps people focus on the best way to learn anything. Reimagining attainment for students, creatives and professionals.
      </p>
      <hr>
      <h5>My work:</h5>
      <ul>
        <li>
          <svg>
            <use xlink:href="{{site.baseurl}}/assets/img/sprite.svg#icon-check-square"></use>
          </svg>
          Front-end development
        </li>
        <li>
          <svg>
            <use xlink:href="{{site.baseurl}}/assets/img/sprite.svg#icon-check-square"></use>
          </svg>
          Wireframing
        </li>
      </ul>
    </div>
    <div class="work-panel--content">
      <h5>Screens:</h4>
        <div class="work-gallery">
          <picture>
            <source media="(min-width: 650px )" srcset="assets/img/screens/spines-1.png">
            <source media="(min-width: 320px )" srcset="assets/img/screens/spines-1.png">
            <img src="assets/img/screens/spines-1.png" alt="Spines 1">
          </picture>
          <picture>
            <source media="(min-width: 650px )" srcset="assets/img/screens/spines-2.png">
            <source media="(min-width: 320px )" srcset="assets/img/screens/spines-2.png">
            <img src="assets/img/screens/spines-2.png" alt="Spines 2">
          </picture>
          <picture>
            <source media="(min-width: 650px )" srcset="assets/img/screens/spines-0.png">
            <source media="(min-width: 320px )" srcset="assets/img/screens/spines-0.png">
            <img src="assets/img/screens/spines-0.png" alt="">
          </picture>
          <picture>
            <source media="(min-width: 650px )" srcset="assets/img/screens/spines-3.png">
            <source media="(min-width: 320px )" srcset="assets/img/screens/spines-3.png">
            <img src="assets/img/screens/spines-3.png" alt="">
          </picture>
        </div>
    </div>
  </div>
</div>