<div class="work-wrapper" :class="{ active : active_el == 1 }">
  <div class="work-panel" :class="{ normal : active_el }">
    <svg class="close" @click="close">
      <use xlink:href="{{site.baseurl}}/assets/img/sprite.svg#icon-x-circle"></use>
    </svg>
    <div class="work-panel--content">
      <h5>About:</h5>
      <img src="{{site.baseurl}}/assets/img/logos/cdr.png" alt="cdr">
      <p>The Spanish booking portal with over 750,000 accommodations worldwide.</p>
      <hr>
      <h5>My work:</h5>
      <ul>
        <li>Front-end development</li>
        <li>Wireframing</li>
        <li>Html integration in Angular views</li>
        <li>Css architecture and components with SMACSS/BEM</li>
      </ul>
    </div>
    <div class="work-panel--content">
      <h5>Screens:</h4>
      
    </div>
  </div>
</div>