<div class="work-wrapper" :class="{ active : active_el == 1 }">
  <div class="work-panel" :class="{ normal : active_el }">
    <svg class="close" @click="close">
      <use xlink:href="{{site.baseurl}}/assets/img/sprite.svg#icon-x-circle"></use>
    </svg>
    <div class="work-panel--content">
      <h5>About:</h5>
      <img src="{{site.baseurl}}/assets/img/logos/cdr.png" alt="cdr">
      <p>The Spanish booking portal with over 750,000 accommodations worldwide.
        <a class="link" href="https://www.centraldereservas.com/" target="_blank">
          <svg>
            <use xlink:href="{{site.baseurl}}/assets/img/sprite.svg#icon-external-link"></use>
          </svg>
        </a>
      </p>
      <hr>
      <h5>My work:</h5>
      <ul>
        <li>
          <svg>
            <use xlink:href="{{site.baseurl}}/assets/img/sprite.svg#icon-check-square"></use>
          </svg>
          Front-end development
        </li>
        <li>
          <svg>
            <use xlink:href="{{site.baseurl}}/assets/img/sprite.svg#icon-check-square"></use>
          </svg>
          Wireframing
        </li>
        <li>
          <svg>
            <use xlink:href="{{site.baseurl}}/assets/img/sprite.svg#icon-check-square"></use>
          </svg>
          HTML layout integration in Angular and PHP views
        </li>
        <li>
          <svg>
            <use xlink:href="{{site.baseurl}}/assets/img/sprite.svg#icon-check-square"></use>
          </svg>
          Css architecture and components with SMACSS/BEM
        </li>
      </ul>
    </div>
    <div class="work-panel--content">
      <h5>Screens:</h4>
        <div class="work-gallery">
          <picture>
            <source media="(min-width: 650px )" srcset="https://placeimg.com/640/480/nature">
            <source media="(min-width: 320px )" srcset="https://placeimg.com/320/240/people">
            <img src="https://placeimg.com/640/480/nature" alt="">
          </picture>
          <picture>
            <source media="(min-width: 650px )" srcset="https://placeimg.com/640/480/nature">
            <source media="(min-width: 320px )" srcset="https://placeimg.com/320/240/people">
            <img src="https://placeimg.com/640/480/nature" alt="">
          </picture>
          <picture>
            <source media="(min-width: 650px )" srcset="https://placeimg.com/640/480/nature">
            <source media="(min-width: 320px )" srcset="https://placeimg.com/320/240/people">
            <img src="https://placeimg.com/640/480/nature" alt="">
          </picture>
          <picture>
            <source media="(min-width: 650px )" srcset="https://placeimg.com/640/480/nature">
            <source media="(min-width: 320px )" srcset="https://placeimg.com/320/240/people">
            <img src="https://placeimg.com/640/480/nature" alt="">
          </picture>
        </div>
    </div>
  </div>
</div>