/**
* Reset some basic elements
*/
* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before{
  box-sizing: inherit;
}

$black: #4e5962;
$white: #f7f9f9;
$dark: #505050;
$grey: #E5E5E5;
$light-grey: #D8D8D8;
$blue: #BFD7EA;
$deep-blue: #56616A;
$light-blue: #AEC4D5;
$main-color: #ea507c;


$component-space: 1em;
$component-inner: 2.5rem 0 5rem;
$component-inner-end: 2.5rem 0 0;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800');

// Custom properties

html{
  box-sizing: border-box;
  font-size: 100%;
}
body{
  background: $white;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  transition: all 1s;
}
h1,
h2,
h3,
h4,
h5,
h6{
  margin-bottom: $component-space;
}
h1,
.h1 {
  font-size: 3.051rem;
}
h2,
.h2 {
  font-size: 2.441rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

h3,
.h3 {  
  font-size: 1.953rem;
}

h4,
.h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p:not([class]){
  color: $dark;
  font-size: 1.25rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-bottom: $component-space;
}
strong{
  font-weight: 600;
}
a[href]:not([class]) {
  color: $white;
  text-decoration: none;
}
hr{
  border-bottom: 0;
  border-top: 1px solid $light-grey;
  margin-bottom: $component-space;
}
.intro--wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
