.mainHeader{
  background: linear-gradient(to left, rgba($grey, .25) 0, rgba($grey, .25) 15vw, transparent 15vw, transparent 100vw);
  display: grid;
  grid-column: 1 / -1;
  
  grid-template-columns: [col1Header-start] 8rem [col1Header-end spc1Header-start] 1fr [spc1Header-end mainHeader-start] minmax(5rem, 30rem) [mainHeader-end spc2Header-start] 1fr [spc2Header-end col2Header-start] 8.5rem [col2Header-end];
  
  grid-template-rows: [top-start] min-content [top-end bg-start] 500px [bg-end pic-start] min-content [pic-end about-start] 400px [about-end];
  
  justify-content: center;
  .subHeader{
    background: rgba($main-color, .75);
    grid-column: col1Header-start / col2Header-end;
    grid-row: top-start / top-end;
    z-index: 10;
    p{
      color: $white;
      padding: $component-space;
      margin-bottom: 0;
      font-weight: 300;
      text-align: center;
    }
  }
  &-menu{
    grid-column: col2Header-start / col2Header-end;
    grid-row: top-start / about-end;
    z-index: 10;
    color: $white;
    
    ul{
      list-style: none;
      padding: 9rem 0 0 1rem;
    }
    li{
      margin: $component-space*2 0;
      line-height: 2;
      position: relative;
      z-index: 9;
      &::after{
        transition: width .15s, height 1s .25s cubic-bezier(.28,1.36,.67,1.01);
        content: '';
        display: block;
        background: $white;
        width: 0;
        right: 0;
        height: .1em;
        transform-origin: right;
        bottom: 0;
        position: absolute;
        z-index: -1;
      }
      &:hover{
        &::after{
          background: $main-color;
          width: 15vw;
          height: 2em;
        }
      }
    }
    a{
      font-weight: 800;
      text-shadow: 0 0 2px rgb(50,50,50);
    }
  }  
  &-title--wrapper{
    background: rgba($black, .75);
    display: flex;
    grid-column: col1Header-start / col1Header-end;
    grid-row: top-start / about-end;
    z-index: 10;
    justify-content: flex-start;
    align-content: flex-start;
    .title{
      align-self: flex-start;
      color: $white;
      writing-mode: tb;
      transform: rotate(-180deg);
      margin-top: $component-space*2;
      padding: 0 0 8rem 0;
      width: 100%;
      h1{
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
      }
      h2{
        font-weight: 300;
      }
    }
  }
  section{
    background: url('../img/bg-header.jpg') no-repeat;
    background-size: cover;
    display: flex;
    grid-column: col1Header-start / col2Header-end;
    grid-row: top-start / bg-end;
    z-index: 0;
    svg{
      flex: 1 50%;
      margin: auto;
      max-width: 20vw;
    }
    .rnPath {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 5s ease-out forwards;
    }
    
    @keyframes dash {
      0%{
        stroke-dashoffset: 1000;
        fill: transparent;
      }
      50%{
        fill: transparent;
      }
      100%{
        stroke-dashoffset: 0;
        fill: rgba($white, .75);
      }
    }
  }
  img{
    align-self: flex-end;
    margin: -25% auto 0;
    max-width: 25vw;
    grid-column: mainHeader-start / mainHeader-end;
    grid-row: pic-start / pic-end;
    z-index: 10;
    transition: all 1.5s cubic-bezier(.28,1.36,.67,1.01);
    &:hover{
      transform: scale(1.2) rotate(-20deg);
      filter: sepia(1) hue-rotate(-50deg) drop-shadow(1em 0 2em $dark);
    }
  }
  
  .aboutMe{
    grid-column: mainHeader-start / mainHeader-end;
    grid-row: about-start / about-end;
    padding: $component-inner; 
  }
}