.skills{
  background-image: linear-gradient(
  to right top, transparent 0%,
  $white 50%,
  $main-color 50%,
  rgba($main-color, .8) 100%),
  url('../img/bg-section.jpg');
  background-size: cover; 
  background-blend-mode: multiply;
  color: $white;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr [col-end]);
  grid-template-rows: 100px 50px min-content 50px min-content max-content;
  grid-row-gap: 2rem;
  min-height: 900px;
  padding: $component-inner;
  
  
  h2{
    color: currentColor;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    text-align: center;
    padding: 0 0 $component-space;
  }
  h4{
    color: $white;
    grid-column: col-start 4 / col-start 10;
    text-align: right;
    font-weight: 600;
    &:first-of-type{
      grid-row: 2 / 3;
      text-align: left;
    }
  }
  .skills-wrapper{
    display: flex;
    grid-column: col-start 4 / col-start 10;
    list-style: none;
    padding: $component-inner;
    
    z-index: 10;    
    
    &.skills-main{
      grid-row: 3 / 4;
      justify-content: flex-end;
    }
    &.skills-secondary{
      grid-row: 5 / 6;
      justify-content: flex-start;
    }
    .skill{
      padding: $component-space;
      min-height: 120px;
    }
  }
  .deco{
    grid-column: 1 / col-start 10;
    grid-row: 3 / 4;
    z-index: 0;    
    background: rgba($black, .75);
    min-height: 100px;
  }
  .deco2{
    grid-column: col-start 4 / -1;
    grid-row: 5 / 6;
    z-index: 0;    
    background: rgba($black, .75);
    min-height: 100px;
  }
}