
.testimonials{
  display: grid;
  background-image: linear-gradient(
  to right bottom, transparent 0%,
  transparent 50%,
  $blue 50%,
  $blue 100%);
  grid-template-columns: 1fr  repeat(2, minmax(auto, 28vw)) 1fr;
  padding: $component-inner;
  
  h2{
    grid-column: 2 / 4;
    padding: 0 0 $component-space;
    text-align: center;
  }
  h5{
    grid-column: 2 / 4;
    text-align: center;
    margin: 0 0 $component-space*2;
    padding: 0 $component-space*2;
    font-weight: 300;
  }
  p{
    grid-column: 2 / 4;
    position: relative;
  }
  
  .citeItem{
    position: relative;
    margin: ($component-space * 2) 0;
    
    &:first-of-type{
      cite::before{
        content: '"';
        position: absolute;
        display: block;
        left: -8vw;
        top: 0;
        height: 50px;
        width: 50px;
      }
    }
    &:last-of-type{
      cite::before{
        content: '"';
        position: absolute;
        display: block;
        left: inherit;
        left: 60vw;
        bottom: 0;
        height: 50px;
        width: 50px;
      }
    }
    cite{
      color: $black;
      position: relative;
      &::after,
      &::before{
        color: $light-blue;
        font-size: 10vw;
        line-height: .5;
      }
      p{
        font-size: .8rem;
        font-weight: 600;
        text-align: right;
        padding: $component-space;
      }
      span{
        display: block;
        margin-top: $component-space;
        font-weight: 600;
        text-align: right;
      }
    }
  }
}