
.work{
  display: grid;
  grid-template-columns: [col1Header-start] 8em [col1Header-end spc1Header-start] 1fr [spc1Header-end mainHeader-start] minmax(5em, 30em) [mainHeader-end spc2Header-start] 1fr [spc2Header-end col2Header-start] 8em [col2Header-end];
  padding: $component-inner;
  
  h2{
    grid-column: mainHeader-start / mainHeader-end;
    text-align: center;
    padding: 0 0 $component-space;
  }
  .aboutWork{
    grid-column: mainHeader-start / mainHeader-end;
    grid-row: about-start / about-end;
  }
}

.work-portfolio{
  display: grid;
  grid-template-columns: 1fr  minmax(5em, 30em)  1fr;
  
}
.work-portfolio{
  display: grid;
  background: $light-grey;
  box-shadow: inset 0 0 3px $dark;
  grid-template-columns: repeat( auto-fit, [col-start] minmax(8vw, auto) [col-end] );
  grid-auto-rows: 10vh;
  grid-gap: $component-space;
  grid-auto-flow: dense;
  padding: 2rem 20vw 5rem;
  position: relative;
  
  .item{
    box-shadow: 0 0 1px rgba(50,50,50, .25);
    display: flex;
    z-index: 0;
    &.span-2{
      grid-row-end: span 2;
      grid-column-end: span 2;
    }
    &.span-3{
      grid-row-end: span 3;
      grid-column-end: span 3;
    }
    &:hover{
      cursor: pointer;
      transition: all .5s ease-out;
      background: $white;
      z-index: 9;
      img{
        transition: inherit;
        filter: grayscale(0);
      }
    }
  }
  img{
    filter: grayscale(100%);
    max-width: 100%;
    object-fit: contain;
  }
  
  .work-wrapper{
    display: none;
    &.active{
      display: block;
    }
  }
  .work-wrapper{
    position: absolute;
    z-index: 99999;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .work-panel{
      background: $white;
      padding: $component-space;
      height: 100vh;
      width: 100vw;
      position: absolute;
      &.normal{
        animation: panel 1s ease-out forwards;
      }
      &.reverse{
        animation: panel 1s ease-out forwards reverse;
      }
    }
    a{
      display: block;
      color: $black;
    }
    @keyframes panel {
      0%{
        opacity: 0;
        left: 100vw;
        
      }
      100%{
        opacity: 1;
        left: 0;
      }
    }
    
  }
}