/**
* Reset some basic elements
*/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before{
  box-sizing: inherit;
}
:root{
  --white: #F7F9F9;
  --black: #505050;
  --grey: #E5E5E5;
  --lightgreen: #EAEAEA;
  --main-color: #EA507C; 
  --blue: #BFD7EA;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

// Custom properties

html{
  box-sizing: border-box;
  font-size: 62.5% // 100/62.5 = 1em / 10px;
}
body{
  min-height: 100vh;
  font-size: 16px; 
  font-size: 1.6rem; 
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  transition: all 1s;
}
.intro--wrapper {
  display: grid;
  grid-template-rows: 4.7em repeat(7, 1fr);
  div{
    outline: 1px solid red;
  }
}