/**
* Reset some basic elements
*/
* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before{
  box-sizing: inherit;
}
:root{
  --white: #F7F9F9;
  --black: 78, 89, 98;
  --grey: #E5E5E5;
  --lightgreen: #EAEAEA;
  --main-color: 234, 80, 124;
  --blue: #BFD7EA;
}

$component-space: 1em;

@import url('https://fonts.googleapis.com/css?family=Roboto|Audiowide');

// Custom properties

html{
  box-sizing: border-box;
  font-size: 100%;
}
body{
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  transition: all 1s;
}
h1,
.h1 {
  font-size: 3.051rem;
}
h2,
.h2 {
  font-size: 2.441rem;
}

h3,
.h3 {  
  font-size: 1.953rem;
}

h4,
.h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p{
  font-size: 1rem;
}

.intro--wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
.mainHeader{
  display: grid;
  grid-column: 1 / -1;
  
  grid-template-columns: [col1Header-start] 8em [col1Header-end spc1Header-start] 1fr [spc1Header-end mainHeader-start] minmax(5em, 30em) [mainHeader-end spc2Header-start] 1fr [spc2Header-end col2Header-start] 8em [col2Header-end];
  
  grid-template-rows: [top-start] min-content [top-end bg-start] 500px [bg-end pic-start] min-content [pic-end about-start] 400px [about-end];
  
  justify-content: center;
  .subHeader{
    background: rgba(var(--main-color), .75);
    grid-column: col1Header-start / col2Header-end;
    grid-row: top-start / top-end;
    z-index: 10;
    p{
      color: var(--white);
      padding: $component-space;
      font-weight: 700;
      text-align: center;
    }
  }
  &-menu{
    grid-column: col2Header-start / col2Header-end;
    grid-row: top-start / about-end;
    z-index: 10;
  }  
  &-title--wrapper{
    background: rgba(var(--black), .75);
    display: flex;
    grid-column: col1Header-start / col1Header-end;
    grid-row: top-start / about-end;
    z-index: 10;
    justify-content: flex-start;
    align-content: flex-start;
    .title{
      align-self: flex-start;
      color: var(--white);
      writing-mode: tb;
      transform: rotate(-180deg);
      margin-top: $component-space*2;
      padding: $component-space 0;
      width: 100%;
      h1{
        font-family: 'Audiowide', sans-serif;
        font-weight: normal;
      }
      h2{
        font-weight: 400;
      }
    }
  }
  section{
    background: url('/assets/img/bg-header.jpg') no-repeat;
    background-size: cover;
    grid-column: col1Header-start / col2Header-end;
    grid-row: top-start / bg-end;
    z-index: 0;
  }
  img{
    align-self: flex-end;
    margin: -25% auto 0;
    max-width: 25vw;
    grid-column: mainHeader-start / mainHeader-end;
    grid-row: pic-start / pic-end;
    z-index: 10;    
  }
  
  .aboutMe{
    grid-column: mainHeader-start / mainHeader-end;
    grid-row: about-start / about-end;
    outline: 1px solid red;
  }
}

.skills{
  background-image: linear-gradient(
  to right top, transparent 0%,
  var(--white) 50%,
  rgba(var(--main-color)) 50%,
  rgba(var(--main-color, .8)) 100%),
  url('/assets/img/bg-section.png');
  background-size: cover; 
  background-blend-mode: multiply;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr [col-end]);
  grid-template-rows: 100px 50px min-content 50px min-content max-content;
  grid-row-gap: 2rem;
  padding: 2rem 0 5rem;
  outline: 1px solid blue;
  min-height: 900px;
  h2{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    text-align: center;
  }
  h4{
    color: var(--white);
    grid-column: col-start 4 / col-start 10;
    text-align: right;
    font-weight: 600;
    &:first-of-type{
      grid-row: 2 / 3;
      text-align: left;
    }
  }
  .skills-wrapper{
    display: flex;
    grid-column: col-start 4 / col-start 10;
    list-style: none;
    padding: $component-space;
    z-index: 10;    
    
    &.skills-main{
      grid-row: 3 / 4;
      justify-content: flex-end;
    }
    &.skills-secondary{
      grid-row: 5 / 6;
      justify-content: flex-start;
    }
    .skill{
      padding: $component-space;
      min-height: 120px;
    }
  }
  .deco{
    grid-column: 1 / col-start 10;
    grid-row: 3 / 4;
    z-index: 0;    
    background: #BFD7EA;
    min-height: 100px;
  }
  .deco2{
    grid-column: col-start 4 / -1;
    grid-row: 5 / 6;
    z-index: 0;    
    background: #BFD7EA;
    min-height: 100px;
  }
}

.work{
  display: grid;
  grid-template-columns: [col1Header-start] 8em [col1Header-end spc1Header-start] 1fr [spc1Header-end mainHeader-start] minmax(5em, 30em) [mainHeader-end spc2Header-start] 1fr [spc2Header-end col2Header-start] 8em [col2Header-end];
  h2{
    grid-column: mainHeader-start / mainHeader-end;
    text-align: center;
  }
  .aboutWork{
    grid-column: mainHeader-start / mainHeader-end;
    grid-row: about-start / about-end;
    outline: 1px solid red;
  }
}

.work-portfolio{
  display: grid;
  grid-template-columns: 1fr  minmax(5em, 30em)  1fr;
  outline: 1px solid red;
}
.testimonials{
  display: grid;
  grid-template-columns: 1fr  minmax(5em, 30em)  1fr;
  outline: 1px solid red;
}