/**
* Reset some basic elements
*/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before{
  box-sizing: inherit;
}
:root{
  --white: #F7F9F9;
  --black: #505050;
  --grey: #E5E5E5;
  --lightgreen: #EAEAEA;
  --main-color: #EA507C; 
  --blue: #BFD7EA;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

// Custom properties

html{
  box-sizing: border-box;
  font-size: 62.5% // 100/62.5 = 1em / 10px;
}
body{
  min-height: 100vh;
  font-size: 16px; 
  font-size: 1.6rem; 
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  transition: all 1s;
  margin: 2em;
}
.intro--wrapper {
  display: grid;
  grid-template-columns: [edgeLeft-start] 1fr [edgeLeft-end];
}
.mainHeader{
  display: grid;
  grid-column: edgeLeft-start / edgeLeft-end;
  
  grid-template-columns: [col1Header-start] 8em [col1Header-end spc1Header-start] 1fr [spc1Header-end mainHeader-start] minmax(5em, 30em) [mainHeader-end spc2Header-start] 1fr [spc2Header-end col2Header-start] 8em [col2Header-end];
  
  grid-template-rows: [top-start] 3em [top-end bg-start] 300px [bg-end pic-start] min-content [pic-end about-start] 400px [about-end];
  
  justify-content: center;
  .subHeader{
    grid-column: col1Header-start / col2Header-end;
    grid-row: top-start / top-end;
    outline: 1px solid blue;
    z-index: 10;
  }
  .menu{
    grid-column: col2Header-start / col2Header-end;
    grid-row: top-start / about-end;
    outline: 1px solid violet;
    z-index: 10;
  }  
  .title{
    grid-column: col1Header-start / col1Header-end;
    grid-row: top-start / about-end;
    outline: 1px solid green;
    writing-mode: tb-rl;
    // transform: rotate(-180deg);
    z-index: 10;
  }
  section{
    background: palegoldenrod;
    grid-column: col1Header-start / col2Header-end;
    grid-row: top-start / bg-end;
    z-index: 0;
  }
  img{
    align-self: flex-end;
    margin: -25% auto 0;
    max-width: 25vw;
    grid-column: mainHeader-start / mainHeader-end;
    grid-row: pic-start / pic-end;
    z-index: 10;    
  }

  .about{
    grid-column: mainHeader-start / mainHeader-end;
    grid-row: about-start / about-end;
    outline: 1px solid red;
    
  }
}
