.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-activity {
  width: 24px;
  height: 24px;
  background-position: 0 0;
}
.icon-airplay {
  width: 24px;
  height: 24px;
  background-position: -40px 0;
}
.icon-alert-circle {
  width: 24px;
  height: 24px;
  background-position: -80px 0;
}
.icon-alert-octagon {
  width: 24px;
  height: 24px;
  background-position: -120px 0;
}
.icon-alert-triangle {
  width: 24px;
  height: 24px;
  background-position: -160px 0;
}
.icon-align-center {
  width: 24px;
  height: 24px;
  background-position: -200px 0;
}
.icon-align-justify {
  width: 24px;
  height: 24px;
  background-position: -240px 0;
}
.icon-align-left {
  width: 24px;
  height: 24px;
  background-position: -280px 0;
}
.icon-align-right {
  width: 24px;
  height: 24px;
  background-position: -320px 0;
}
.icon-anchor {
  width: 24px;
  height: 24px;
  background-position: -360px 0;
}
.icon-aperture {
  width: 24px;
  height: 24px;
  background-position: -400px 0;
}
.icon-archive {
  width: 24px;
  height: 24px;
  background-position: -440px 0;
}
.icon-arrow-down {
  width: 24px;
  height: 24px;
  background-position: -480px 0;
}
.icon-arrow-down-circle {
  width: 24px;
  height: 24px;
  background-position: -520px 0;
}
.icon-arrow-down-left {
  width: 24px;
  height: 24px;
  background-position: -560px 0;
}
.icon-arrow-down-right {
  width: 24px;
  height: 24px;
  background-position: -600px 0;
}
.icon-arrow-left {
  width: 24px;
  height: 24px;
  background-position: 0 -40px;
}
.icon-arrow-left-circle {
  width: 24px;
  height: 24px;
  background-position: -40px -40px;
}
.icon-arrow-right {
  width: 24px;
  height: 24px;
  background-position: -80px -40px;
}
.icon-arrow-right-circle {
  width: 24px;
  height: 24px;
  background-position: -120px -40px;
}
.icon-arrow-up {
  width: 24px;
  height: 24px;
  background-position: -160px -40px;
}
.icon-arrow-up-circle {
  width: 24px;
  height: 24px;
  background-position: -200px -40px;
}
.icon-arrow-up-left {
  width: 24px;
  height: 24px;
  background-position: -240px -40px;
}
.icon-arrow-up-right {
  width: 24px;
  height: 24px;
  background-position: -280px -40px;
}
.icon-at-sign {
  width: 24px;
  height: 24px;
  background-position: -320px -40px;
}
.icon-award {
  width: 24px;
  height: 24px;
  background-position: -360px -40px;
}
.icon-bar-chart {
  width: 24px;
  height: 24px;
  background-position: -400px -40px;
}
.icon-bar-chart-2 {
  width: 24px;
  height: 24px;
  background-position: -440px -40px;
}
.icon-battery {
  width: 24px;
  height: 24px;
  background-position: -480px -40px;
}
.icon-battery-charging {
  width: 24px;
  height: 24px;
  background-position: -520px -40px;
}
.icon-bell {
  width: 24px;
  height: 24px;
  background-position: -560px -40px;
}
.icon-bell-off {
  width: 24px;
  height: 24px;
  background-position: -600px -40px;
}
.icon-bluetooth {
  width: 24px;
  height: 24px;
  background-position: 0 -80px;
}
.icon-bold {
  width: 24px;
  height: 24px;
  background-position: -40px -80px;
}
.icon-book {
  width: 24px;
  height: 24px;
  background-position: -80px -80px;
}
.icon-book-open {
  width: 24px;
  height: 24px;
  background-position: -120px -80px;
}
.icon-bookmark {
  width: 24px;
  height: 24px;
  background-position: -160px -80px;
}
.icon-box {
  width: 24px;
  height: 24px;
  background-position: -200px -80px;
}
.icon-briefcase {
  width: 24px;
  height: 24px;
  background-position: -240px -80px;
}
.icon-calendar {
  width: 24px;
  height: 24px;
  background-position: -280px -80px;
}
.icon-camera {
  width: 24px;
  height: 24px;
  background-position: -320px -80px;
}
.icon-camera-off {
  width: 24px;
  height: 24px;
  background-position: -360px -80px;
}
.icon-cast {
  width: 24px;
  height: 24px;
  background-position: -400px -80px;
}
.icon-check {
  width: 24px;
  height: 24px;
  background-position: -440px -80px;
}
.icon-check-circle {
  width: 24px;
  height: 24px;
  background-position: -480px -80px;
}
.icon-check-square {
  width: 24px;
  height: 24px;
  background-position: -520px -80px;
}
.icon-chevron-down {
  width: 24px;
  height: 24px;
  background-position: -560px -80px;
}
.icon-chevron-left {
  width: 24px;
  height: 24px;
  background-position: -600px -80px;
}
.icon-chevron-right {
  width: 24px;
  height: 24px;
  background-position: 0 -120px;
}
.icon-chevron-up {
  width: 24px;
  height: 24px;
  background-position: -40px -120px;
}
.icon-chevrons-down {
  width: 24px;
  height: 24px;
  background-position: -80px -120px;
}
.icon-chevrons-left {
  width: 24px;
  height: 24px;
  background-position: -120px -120px;
}
.icon-chevrons-right {
  width: 24px;
  height: 24px;
  background-position: -160px -120px;
}
.icon-chevrons-up {
  width: 24px;
  height: 24px;
  background-position: -200px -120px;
}
.icon-chrome {
  width: 24px;
  height: 24px;
  background-position: -240px -120px;
}
.icon-circle {
  width: 24px;
  height: 24px;
  background-position: -280px -120px;
}
.icon-clipboard {
  width: 24px;
  height: 24px;
  background-position: -320px -120px;
}
.icon-clock {
  width: 24px;
  height: 24px;
  background-position: -360px -120px;
}
.icon-cloud {
  width: 24px;
  height: 24px;
  background-position: -400px -120px;
}
.icon-cloud-drizzle {
  width: 24px;
  height: 24px;
  background-position: -440px -120px;
}
.icon-cloud-lightning {
  width: 24px;
  height: 24px;
  background-position: -480px -120px;
}
.icon-cloud-off {
  width: 24px;
  height: 24px;
  background-position: -520px -120px;
}
.icon-cloud-rain {
  width: 24px;
  height: 24px;
  background-position: -560px -120px;
}
.icon-cloud-snow {
  width: 24px;
  height: 24px;
  background-position: -600px -120px;
}
.icon-code {
  width: 24px;
  height: 24px;
  background-position: 0 -160px;
}
.icon-codepen {
  width: 24px;
  height: 24px;
  background-position: -40px -160px;
}
.icon-command {
  width: 24px;
  height: 24px;
  background-position: -80px -160px;
}
.icon-compass {
  width: 24px;
  height: 24px;
  background-position: -120px -160px;
}
.icon-copy {
  width: 24px;
  height: 24px;
  background-position: -160px -160px;
}
.icon-corner-down-left {
  width: 24px;
  height: 24px;
  background-position: -200px -160px;
}
.icon-corner-down-right {
  width: 24px;
  height: 24px;
  background-position: -240px -160px;
}
.icon-corner-left-down {
  width: 24px;
  height: 24px;
  background-position: -280px -160px;
}
.icon-corner-left-up {
  width: 24px;
  height: 24px;
  background-position: -320px -160px;
}
.icon-corner-right-down {
  width: 24px;
  height: 24px;
  background-position: -360px -160px;
}
.icon-corner-right-up {
  width: 24px;
  height: 24px;
  background-position: -400px -160px;
}
.icon-corner-up-left {
  width: 24px;
  height: 24px;
  background-position: -440px -160px;
}
.icon-corner-up-right {
  width: 24px;
  height: 24px;
  background-position: -480px -160px;
}
.icon-cpu {
  width: 24px;
  height: 24px;
  background-position: -520px -160px;
}
.icon-credit-card {
  width: 24px;
  height: 24px;
  background-position: -560px -160px;
}
.icon-crop {
  width: 24px;
  height: 24px;
  background-position: -600px -160px;
}
.icon-crosshair {
  width: 24px;
  height: 24px;
  background-position: 0 -200px;
}
.icon-database {
  width: 24px;
  height: 24px;
  background-position: -40px -200px;
}
.icon-delete {
  width: 24px;
  height: 24px;
  background-position: -80px -200px;
}
.icon-disc {
  width: 24px;
  height: 24px;
  background-position: -120px -200px;
}
.icon-dollar-sign {
  width: 24px;
  height: 24px;
  background-position: -160px -200px;
}
.icon-download {
  width: 24px;
  height: 24px;
  background-position: -200px -200px;
}
.icon-download-cloud {
  width: 24px;
  height: 24px;
  background-position: -240px -200px;
}
.icon-droplet {
  width: 24px;
  height: 24px;
  background-position: -280px -200px;
}
.icon-edit {
  width: 24px;
  height: 24px;
  background-position: -320px -200px;
}
.icon-edit-2 {
  width: 24px;
  height: 24px;
  background-position: -360px -200px;
}
.icon-edit-3 {
  width: 24px;
  height: 24px;
  background-position: -400px -200px;
}
.icon-external-link {
  width: 24px;
  height: 24px;
  background-position: -440px -200px;
}
.icon-eye {
  width: 24px;
  height: 24px;
  background-position: -480px -200px;
}
.icon-eye-off {
  width: 24px;
  height: 24px;
  background-position: -520px -200px;
}
.icon-facebook {
  width: 24px;
  height: 24px;
  background-position: -560px -200px;
}
.icon-fast-forward {
  width: 24px;
  height: 24px;
  background-position: -600px -200px;
}
.icon-feather {
  width: 24px;
  height: 24px;
  background-position: 0 -240px;
}
.icon-file {
  width: 24px;
  height: 24px;
  background-position: -40px -240px;
}
.icon-file-minus {
  width: 24px;
  height: 24px;
  background-position: -80px -240px;
}
.icon-file-plus {
  width: 24px;
  height: 24px;
  background-position: -120px -240px;
}
.icon-file-text {
  width: 24px;
  height: 24px;
  background-position: -160px -240px;
}
.icon-film {
  width: 24px;
  height: 24px;
  background-position: -200px -240px;
}
.icon-filter {
  width: 24px;
  height: 24px;
  background-position: -240px -240px;
}
.icon-flag {
  width: 24px;
  height: 24px;
  background-position: -280px -240px;
}
.icon-folder {
  width: 24px;
  height: 24px;
  background-position: -320px -240px;
}
.icon-folder-minus {
  width: 24px;
  height: 24px;
  background-position: -360px -240px;
}
.icon-folder-plus {
  width: 24px;
  height: 24px;
  background-position: -400px -240px;
}
.icon-gift {
  width: 24px;
  height: 24px;
  background-position: -440px -240px;
}
.icon-git-branch {
  width: 24px;
  height: 24px;
  background-position: -480px -240px;
}
.icon-git-commit {
  width: 24px;
  height: 24px;
  background-position: -520px -240px;
}
.icon-git-merge {
  width: 24px;
  height: 24px;
  background-position: -560px -240px;
}
.icon-git-pull-request {
  width: 24px;
  height: 24px;
  background-position: -600px -240px;
}
.icon-github {
  width: 24px;
  height: 24px;
  background-position: 0 -280px;
}
.icon-gitlab {
  width: 24px;
  height: 24px;
  background-position: -40px -280px;
}
.icon-globe {
  width: 24px;
  height: 24px;
  background-position: -80px -280px;
}
.icon-grid {
  width: 24px;
  height: 24px;
  background-position: -120px -280px;
}
.icon-hard-drive {
  width: 24px;
  height: 24px;
  background-position: -160px -280px;
}
.icon-hash {
  width: 24px;
  height: 24px;
  background-position: -200px -280px;
}
.icon-headphones {
  width: 24px;
  height: 24px;
  background-position: -240px -280px;
}
.icon-heart {
  width: 24px;
  height: 24px;
  background-position: -280px -280px;
}
.icon-help-circle {
  width: 24px;
  height: 24px;
  background-position: -320px -280px;
}
.icon-home {
  width: 24px;
  height: 24px;
  background-position: -360px -280px;
}
.icon-image {
  width: 24px;
  height: 24px;
  background-position: -400px -280px;
}
.icon-inbox {
  width: 24px;
  height: 24px;
  background-position: -440px -280px;
}
.icon-info {
  width: 24px;
  height: 24px;
  background-position: -480px -280px;
}
.icon-instagram {
  width: 24px;
  height: 24px;
  background-position: -520px -280px;
}
.icon-italic {
  width: 24px;
  height: 24px;
  background-position: -560px -280px;
}
.icon-layers {
  width: 24px;
  height: 24px;
  background-position: -600px -280px;
}
.icon-layout {
  width: 24px;
  height: 24px;
  background-position: 0 -320px;
}
.icon-life-buoy {
  width: 24px;
  height: 24px;
  background-position: -40px -320px;
}
.icon-link {
  width: 24px;
  height: 24px;
  background-position: -80px -320px;
}
.icon-link-2 {
  width: 24px;
  height: 24px;
  background-position: -120px -320px;
}
.icon-linkedin {
  width: 24px;
  height: 24px;
  background-position: -160px -320px;
}
.icon-list {
  width: 24px;
  height: 24px;
  background-position: -200px -320px;
}
.icon-loader {
  width: 24px;
  height: 24px;
  background-position: -240px -320px;
}
.icon-lock {
  width: 24px;
  height: 24px;
  background-position: -280px -320px;
}
.icon-log-in {
  width: 24px;
  height: 24px;
  background-position: -320px -320px;
}
.icon-log-out {
  width: 24px;
  height: 24px;
  background-position: -360px -320px;
}
.icon-mail {
  width: 24px;
  height: 24px;
  background-position: -400px -320px;
}
.icon-map {
  width: 24px;
  height: 24px;
  background-position: -440px -320px;
}
.icon-map-pin {
  width: 24px;
  height: 24px;
  background-position: -480px -320px;
}
.icon-maximize {
  width: 24px;
  height: 24px;
  background-position: -520px -320px;
}
.icon-maximize-2 {
  width: 24px;
  height: 24px;
  background-position: -560px -320px;
}
.icon-menu {
  width: 24px;
  height: 24px;
  background-position: -600px -320px;
}
.icon-message-circle {
  width: 24px;
  height: 24px;
  background-position: 0 -360px;
}
.icon-message-square {
  width: 24px;
  height: 24px;
  background-position: -40px -360px;
}
.icon-mic {
  width: 24px;
  height: 24px;
  background-position: -80px -360px;
}
.icon-mic-off {
  width: 24px;
  height: 24px;
  background-position: -120px -360px;
}
.icon-minimize {
  width: 24px;
  height: 24px;
  background-position: -160px -360px;
}
.icon-minimize-2 {
  width: 24px;
  height: 24px;
  background-position: -200px -360px;
}
.icon-minus {
  width: 24px;
  height: 24px;
  background-position: -240px -360px;
}
.icon-minus-circle {
  width: 24px;
  height: 24px;
  background-position: -280px -360px;
}
.icon-minus-square {
  width: 24px;
  height: 24px;
  background-position: -320px -360px;
}
.icon-monitor {
  width: 24px;
  height: 24px;
  background-position: -360px -360px;
}
.icon-moon {
  width: 24px;
  height: 24px;
  background-position: -400px -360px;
}
.icon-more-horizontal {
  width: 24px;
  height: 24px;
  background-position: -440px -360px;
}
.icon-more-vertical {
  width: 24px;
  height: 24px;
  background-position: -480px -360px;
}
.icon-move {
  width: 24px;
  height: 24px;
  background-position: -520px -360px;
}
.icon-music {
  width: 24px;
  height: 24px;
  background-position: -560px -360px;
}
.icon-navigation {
  width: 24px;
  height: 24px;
  background-position: -600px -360px;
}
.icon-navigation-2 {
  width: 24px;
  height: 24px;
  background-position: 0 -400px;
}
.icon-octagon {
  width: 24px;
  height: 24px;
  background-position: -40px -400px;
}
.icon-package {
  width: 24px;
  height: 24px;
  background-position: -80px -400px;
}
.icon-paperclip {
  width: 24px;
  height: 24px;
  background-position: -120px -400px;
}
.icon-pause {
  width: 24px;
  height: 24px;
  background-position: -160px -400px;
}
.icon-pause-circle {
  width: 24px;
  height: 24px;
  background-position: -200px -400px;
}
.icon-percent {
  width: 24px;
  height: 24px;
  background-position: -240px -400px;
}
.icon-phone {
  width: 24px;
  height: 24px;
  background-position: -280px -400px;
}
.icon-phone-call {
  width: 24px;
  height: 24px;
  background-position: -320px -400px;
}
.icon-phone-forwarded {
  width: 24px;
  height: 24px;
  background-position: -360px -400px;
}
.icon-phone-incoming {
  width: 24px;
  height: 24px;
  background-position: -400px -400px;
}
.icon-phone-missed {
  width: 24px;
  height: 24px;
  background-position: -440px -400px;
}
.icon-phone-off {
  width: 24px;
  height: 24px;
  background-position: -480px -400px;
}
.icon-phone-outgoing {
  width: 24px;
  height: 24px;
  background-position: -520px -400px;
}
.icon-pie-chart {
  width: 24px;
  height: 24px;
  background-position: -560px -400px;
}
.icon-play {
  width: 24px;
  height: 24px;
  background-position: -600px -400px;
}
.icon-play-circle {
  width: 24px;
  height: 24px;
  background-position: 0 -440px;
}
.icon-plus {
  width: 24px;
  height: 24px;
  background-position: -40px -440px;
}
.icon-plus-circle {
  width: 24px;
  height: 24px;
  background-position: -80px -440px;
}
.icon-plus-square {
  width: 24px;
  height: 24px;
  background-position: -120px -440px;
}
.icon-pocket {
  width: 24px;
  height: 24px;
  background-position: -160px -440px;
}
.icon-power {
  width: 24px;
  height: 24px;
  background-position: -200px -440px;
}
.icon-printer {
  width: 24px;
  height: 24px;
  background-position: -240px -440px;
}
.icon-radio {
  width: 24px;
  height: 24px;
  background-position: -280px -440px;
}
.icon-refresh-ccw {
  width: 24px;
  height: 24px;
  background-position: -320px -440px;
}
.icon-refresh-cw {
  width: 24px;
  height: 24px;
  background-position: -360px -440px;
}
.icon-repeat {
  width: 24px;
  height: 24px;
  background-position: -400px -440px;
}
.icon-rewind {
  width: 24px;
  height: 24px;
  background-position: -440px -440px;
}
.icon-rotate-ccw {
  width: 24px;
  height: 24px;
  background-position: -480px -440px;
}
.icon-rotate-cw {
  width: 24px;
  height: 24px;
  background-position: -520px -440px;
}
.icon-rss {
  width: 24px;
  height: 24px;
  background-position: -560px -440px;
}
.icon-save {
  width: 24px;
  height: 24px;
  background-position: -600px -440px;
}
.icon-scissors {
  width: 24px;
  height: 24px;
  background-position: 0 -480px;
}
.icon-search {
  width: 24px;
  height: 24px;
  background-position: -40px -480px;
}
.icon-send {
  width: 24px;
  height: 24px;
  background-position: -80px -480px;
}
.icon-server {
  width: 24px;
  height: 24px;
  background-position: -120px -480px;
}
.icon-settings {
  width: 24px;
  height: 24px;
  background-position: -160px -480px;
}
.icon-share {
  width: 24px;
  height: 24px;
  background-position: -200px -480px;
}
.icon-share-2 {
  width: 24px;
  height: 24px;
  background-position: -240px -480px;
}
.icon-shield {
  width: 24px;
  height: 24px;
  background-position: -280px -480px;
}
.icon-shield-off {
  width: 24px;
  height: 24px;
  background-position: -320px -480px;
}
.icon-shopping-bag {
  width: 24px;
  height: 24px;
  background-position: -360px -480px;
}
.icon-shopping-cart {
  width: 24px;
  height: 24px;
  background-position: -400px -480px;
}
.icon-shuffle {
  width: 24px;
  height: 24px;
  background-position: -440px -480px;
}
.icon-sidebar {
  width: 24px;
  height: 24px;
  background-position: -480px -480px;
}
.icon-skip-back {
  width: 24px;
  height: 24px;
  background-position: -520px -480px;
}
.icon-skip-forward {
  width: 24px;
  height: 24px;
  background-position: -560px -480px;
}
.icon-slack {
  width: 24px;
  height: 24px;
  background-position: -600px -480px;
}
.icon-slash {
  width: 24px;
  height: 24px;
  background-position: 0 -520px;
}
.icon-sliders {
  width: 24px;
  height: 24px;
  background-position: -40px -520px;
}
.icon-smartphone {
  width: 24px;
  height: 24px;
  background-position: -80px -520px;
}
.icon-speaker {
  width: 24px;
  height: 24px;
  background-position: -120px -520px;
}
.icon-square {
  width: 24px;
  height: 24px;
  background-position: -160px -520px;
}
.icon-star {
  width: 24px;
  height: 24px;
  background-position: -200px -520px;
}
.icon-stop-circle {
  width: 24px;
  height: 24px;
  background-position: -240px -520px;
}
.icon-sun {
  width: 24px;
  height: 24px;
  background-position: -280px -520px;
}
.icon-sunrise {
  width: 24px;
  height: 24px;
  background-position: -320px -520px;
}
.icon-sunset {
  width: 24px;
  height: 24px;
  background-position: -360px -520px;
}
.icon-tablet {
  width: 24px;
  height: 24px;
  background-position: -400px -520px;
}
.icon-tag {
  width: 24px;
  height: 24px;
  background-position: -440px -520px;
}
.icon-target {
  width: 24px;
  height: 24px;
  background-position: -480px -520px;
}
.icon-terminal {
  width: 24px;
  height: 24px;
  background-position: -520px -520px;
}
.icon-thermometer {
  width: 24px;
  height: 24px;
  background-position: -560px -520px;
}
.icon-thumbs-down {
  width: 24px;
  height: 24px;
  background-position: -600px -520px;
}
.icon-thumbs-up {
  width: 24px;
  height: 24px;
  background-position: 0 -560px;
}
.icon-toggle-left {
  width: 24px;
  height: 24px;
  background-position: -40px -560px;
}
.icon-toggle-right {
  width: 24px;
  height: 24px;
  background-position: -80px -560px;
}
.icon-trash {
  width: 24px;
  height: 24px;
  background-position: -120px -560px;
}
.icon-trash-2 {
  width: 24px;
  height: 24px;
  background-position: -160px -560px;
}
.icon-trending-down {
  width: 24px;
  height: 24px;
  background-position: -200px -560px;
}
.icon-trending-up {
  width: 24px;
  height: 24px;
  background-position: -240px -560px;
}
.icon-triangle {
  width: 24px;
  height: 24px;
  background-position: -280px -560px;
}
.icon-truck {
  width: 24px;
  height: 24px;
  background-position: -320px -560px;
}
.icon-tv {
  width: 24px;
  height: 24px;
  background-position: -360px -560px;
}
.icon-twitter {
  width: 24px;
  height: 24px;
  background-position: -400px -560px;
}
.icon-type {
  width: 24px;
  height: 24px;
  background-position: -440px -560px;
}
.icon-umbrella {
  width: 24px;
  height: 24px;
  background-position: -480px -560px;
}
.icon-underline {
  width: 24px;
  height: 24px;
  background-position: -520px -560px;
}
.icon-unlock {
  width: 24px;
  height: 24px;
  background-position: -560px -560px;
}
.icon-upload {
  width: 24px;
  height: 24px;
  background-position: -600px -560px;
}
.icon-upload-cloud {
  width: 24px;
  height: 24px;
  background-position: 0 -600px;
}
.icon-user {
  width: 24px;
  height: 24px;
  background-position: -40px -600px;
}
.icon-user-check {
  width: 24px;
  height: 24px;
  background-position: -80px -600px;
}
.icon-user-minus {
  width: 24px;
  height: 24px;
  background-position: -120px -600px;
}
.icon-user-plus {
  width: 24px;
  height: 24px;
  background-position: -160px -600px;
}
.icon-user-x {
  width: 24px;
  height: 24px;
  background-position: -200px -600px;
}
.icon-users {
  width: 24px;
  height: 24px;
  background-position: -240px -600px;
}
.icon-video {
  width: 24px;
  height: 24px;
  background-position: -280px -600px;
}
.icon-video-off {
  width: 24px;
  height: 24px;
  background-position: -320px -600px;
}
.icon-voicemail {
  width: 24px;
  height: 24px;
  background-position: -360px -600px;
}
.icon-volume {
  width: 24px;
  height: 24px;
  background-position: -400px -600px;
}
.icon-volume-1 {
  width: 24px;
  height: 24px;
  background-position: -440px -600px;
}
.icon-volume-2 {
  width: 24px;
  height: 24px;
  background-position: -480px -600px;
}
.icon-volume-x {
  width: 24px;
  height: 24px;
  background-position: -520px -600px;
}
.icon-watch {
  width: 24px;
  height: 24px;
  background-position: -560px -600px;
}
.icon-wifi {
  width: 24px;
  height: 24px;
  background-position: -600px -600px;
}
.icon-wifi-off {
  width: 24px;
  height: 24px;
  background-position: 0 -640px;
}
.icon-wind {
  width: 24px;
  height: 24px;
  background-position: -40px -640px;
}
.icon-x {
  width: 24px;
  height: 24px;
  background-position: -80px -640px;
}
.icon-x-circle {
  width: 24px;
  height: 24px;
  background-position: -120px -640px;
}
.icon-x-square {
  width: 24px;
  height: 24px;
  background-position: -160px -640px;
}
.icon-youtube {
  width: 24px;
  height: 24px;
  background-position: -200px -640px;
}
.icon-zap {
  width: 24px;
  height: 24px;
  background-position: -240px -640px;
}
.icon-zap-off {
  width: 24px;
  height: 24px;
  background-position: -280px -640px;
}
.icon-zoom-in {
  width: 24px;
  height: 24px;
  background-position: -320px -640px;
}
.icon-zoom-out {
  width: 24px;
  height: 24px;
  background-position: -360px -640px;
}

